body, html {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main {

    #flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-image: url('path-to-image.jpg');*/
    background-size: cover;
    background-position: center;

    flex: 1 0 auto;
}

.footer {
    background-color: #f8f9fa;
}

.main-content {
    text-align: center; /* Center the text */
    color: black; /* Set text color */
}

.social-icons {
    font-size: 1.5em;
    color: #333;

    & > a {
        margin: 0 10px;
    }
}

.card {
    border: none;
}

.navbar {
    flex-shrink: 0; /* Navbar shouldn't shrink */
}

.footer {
    flex-shrink: 0; /* Footer shouldn't shrink */
}
