#custom-form {
    margin-top: 80px;
}

.category-form {
    width: 50%;
}

.submit-button {
    border: 1px solid black; 
    width: 40%;
}

.submit-button {
    border: 1px solid black; 
    width: 40%;
}

.edit-button {
    border: 1px solid black; 
    width: 20%;
}
