@import 'bootstrap/dist/css/bootstrap.css';

.col-container {
    text-align: center;
}

.plants-card .card-title {
    font-size: smaller;
}

#main-content {
    margin-left: 70px;
}

#plants-filter .offcanvas {
    margin-top: 5%;
    max-width: 20%;
    max-height: 120%;
    border: 0.5px solid whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#plants-filter .sticky-top {
    top: 80px;
    left: 40px;
    border: 0.5px solid whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.product-form {
    width: 40%;
    height: 35px;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 0px;
}

.sort {
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    font-size: 11px;
}

.submit-button {
    height: 40px;
    border-radius: 12px;
}

.plants-card {
    border-radius: 12px;
}

button i.fa-sort-up {
    transform: translateY(20%);
}

button i.fa-sort-down {
    transform: translateY(-20%);
}

.incrementer {
    margin-left: -15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center
}

.form-control {
    border-radius: 14px;
    width: 100%;
}

.btn-close::after {
    content: none;
}

.btn-close {
    background: none;
    border: none;
    box-shadow: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

nav.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.d-flex ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}

nav.d-flex ul li {
    margin: 0 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination .page-link {
    color: black;
    border: none;
    background: transparent;
    border-radius: 12px;
    outline: none;
}

.pagination .page-item {
    color: black;
    border-radius: 12px;
    outline: none;
}

.pagination .page-item:hover {
    background: black;
    border-color: black;
}

.pagination .page-item:hover a {
    color: white;
}

.pagination .active {
    background: black;
    border-color: black;
}

.pagination .active .page-link {
    color: white;
}
