@import 'bootstrap/dist/css/bootstrap.css';

.col-container {
    text-align: center;
}

.plants-card .card-title {
    font-size: smaller;
}

#main-content {
    margin-left: 70px;
}

#plants-filter .offcanvas{
    margin-top: 5%;
    max-width: 20%;
    max-height: 120%;
    border: 0.5px solid whitesmoke; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px; 
}

#plants-filter .sticky-top {
    top: 80px;
    left: 40px;
    border: 0.5px solid whitesmoke; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px; 
}

.product-form {
    width: 40%;
    height: 35px;
    border: 2px solid black; 
    border-radius: 10px; 
    margin-right: 0px;
}

.sort {
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    font-size: 11px;
}

.submit-button {
    height: 40px;
    border-radius: 12px;
}

.plants-card {
    border-radius: 12px;
}

.form-control {
    border-radius: 14px;
    width: 100%;
}

.btn-close::after {
    content: none;
}

.btn-close {
    background: none;
    border: none;
    box-shadow: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


@media (min-width: 0px) and (max-width: 767.98px) {
    .footer-col {
        margin: 1rem 0;
    }

    #main-content {
        margin-left: 0px;
    }

    #plants-filter .offcanvas {
        max-width: 95%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .footer-col {
        margin: 1rem;
    }
}

.ellipsis-title {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-link {
    text-decoration: none;
    color: inherit; 
}

.title-link:hover {
    color: inherit;
}


