.selector {
    gap: 2rem;
}

.quantity-selector {
    gap: .25rem;
}

.quantity-selector #quantity {
    width: 7rem;
}

.shopping-button {
    padding: .75rem;
}

.wrapper {
    flex-direction: column;
}

.gallery-item > img {
    border-radius: 0;
    border: none;
}
