#custom-table {
    margin-top: 40px;
}

.category-table .img-thumbnail {
    width: 80px;
    height: 80px;
}

.products-table .img-thumbnail {
    width: 60px;
    height: 60px;
}

.btn-lg {
    padding-left: 80px;
    padding-right: 80px;
}

.submit-button {
    border: 1px solid black; 
}