@import 'bootstrap/dist/css/bootstrap.css';

:root {
    --bs-primary: #0b3e27; /* Primary color */
}

body, html {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*
header {
    background-color: var(--bs-primary);
}
*/

/*
header > * {
    color: white;
}
*/

.footer {
    background-color: #f8f9fa;
}

.navbar-nav {
    align-self: flex-end;
}

.social-icons {
    font-size: 1.5em;
    color: #333;
}

.social-icons a {
    padding: .25rem .25rem .25rem 0;

    color: inherit;
    text-decoration: none;
}

.social-icons a:hover {
    color: inherit;
    text-decoration: none;
}


.navbar {
    flex-shrink: 0; /* Navbar shouldn't shrink */
}

.footer {
    flex-shrink: 0; /* Footer shouldn't shrink */
}

.footer-col a {
    color: inherit;
    text-decoration: none;
}

.footer h5 {
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
}

.footer-col a:hover {
    color: inherit;
    text-decoration: underline;
}

@media (max-width: 767.98px) {
    .footer-col {
        margin: 1rem 0;
    }

    .side-col {
        padding: 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .footer-col {
        margin: 1rem 0;
    }

    .side-col {
        padding: 0 !important;
    }
}

.col-container {
    text-align: center;
}

.navbar-collapse {
    visibility: visible !important;
}

.form-search {
    padding-left: 2rem;
}

.input-form {
    gap: .5rem;
    justify-content: flex-end;
}

.form-width {
    width: 100%;
}

@media (min-width: 768px) {
    .form-width {
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .form-width {
        max-width: 40%;
    }
}

.success-popup, .error-popup, .cart-popup {
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    text-align: center;
    z-index: 1000;
    display: none;
}

.success-popup {
    background-color: #dff0d8;
    color: #3c763d;
}

.error-popup {
    background-color: #f2dede;
    color: #a94442;
}

.cart-popup {
    top: 80px;
    right: 12px;
    left: auto;
    transform: none;
    background-color: #dff0d8;
    color: #3c763d;
}

.cart-popup::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 50px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #dff0d8;
}
